/*Custom CSS do Titulo do Grupo-C e Div que engloba a table*/

#divGrupoC{
    width: 60%;
    border: 2px solid greenyellow;
}

#tituloGrupoC{
    margin-bottom: 0px;
    color: grey;
    font-size:15px;
}

/*Fim das estilizações da Div e do titulo do Grupo-C*/

/*Custom CSS da tabela do Grupo-C*/

#tableGrupoC{
    background-color: black;
    opacity: 65%;
    width: 100%;
}

td{
    border-collapse: collapse;
    border-bottom:1px solid #e2e2e2;
}

.tdPosicaoGrupoC{
    float: left;
    font-size: 25px;
    color: white;
    width: 5%;
    border-bottom: 1px solid #e2e2e2;
    padding-left: 8px;
}

.tdImgTime{
    width: 5%;
    float: left;
    padding-top:4px;
    border-bottom: 1px solid #e2e2e2;
}

.imgTime{
    float: left;
    max-width: 25px;
    max-height: 25px;
}

.tdNomeDoTime{
    float:left;
    width: 60%;
    font-size: 25px;
    color:white;
    border-bottom: 1px solid #e2e2e2;
}

.tdPlacarGpC{
    float: right;
    color: white;
    font-size: 25px;
    width: 27%;
    border-bottom: 1px solid #e2e2e2;
    text-align: right;
    padding-right:8px;
}

/*Fim das estlizações da table do Grupo-C*/