* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imagens/background.png");
    background-repeat: round;
    
}

.container {
    width: 100%;
}

.content {
    display: flex;
    width: 100%;
}

.container-table {
    width: 60%;
}

#cronograma {
    background-color: white;
    border: 1px solid lightgreen;
    width: 250px;
    height: 600px;
    overflow: auto;
    margin-left: 0;
}

#cronograma img {
    max-width: 25px;
    min-width: 25px;
}


#cronograma table {
    font-weight: bold;
    width: 100%;
}

#cronograma table tr{
    border-bottom: 1px solid grey;
}

#cronograma table td {
    padding: 40px 5px 30px 10px;
}

#cronograma table caption {
    font-size: 15px;
    width: 100%; 
    padding: 15px 30px 30px 30px;
    color: rgb(31, 223, 31);
    background-image: url("imagens/papel-rasgado.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#linha-verde div{
    height: 3px;
    width: 10px;
    background-color: green;
}

/* larissa */

a, a:link, a:hover, a:visited{
    text-decoration: none;
}

.cabecalho{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #898366;
}

.listaMenu{
    width: 100%;
    float: left;
    list-style: none;
    padding: 0px 0px 20px 10px;

}

.listaMenu li{
    padding: 20px;
    float: left;
}

.listaMenu ul{
    margin: 0px;
    text-align: 0px;
}

.imgCabecalho {
    margin-left: 100px;
}

.menu li a{
    font-weight: bold;
    color: rgb(157, 158, 74);
}

.menu ul li a:hover{
    color: #fff;
    transition: 0.05s;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

/* bryan */

#tabela{
    color: white;
    width: 100%;

    height: 60px;
    padding: 0px;
    border: 1px solid greenyellow;
    border-collapse: collapse;
    background-color: black;
}

#tabela th {
    border-right: 1px solid greenyellow;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
}
 
.fasegrupo{
    color: black;
    background-color: greenyellow;
    width: 38%;
}

.aovivo{
    font-size: 12px;
}

.seta{
    float: right;
    margin-right: 55%;
    font-size: 17px ;
}

.breve{
    font-size: 12px;
    color: lightgray;
}

/* matheus */

#table-a, .tabelaGrupoA td{
    border-bottom: solid 1px white;
    border-collapse: collapse;
    color: white;
    padding: 10px;
    margin: 6px;
}

.tabelaGrupoA{
    
    background-color: rgb(32, 32, 32);
    border: solid green;
    font-size: 5px;
}

.tabelaGrupoA table tr { 
    width: 100%;
}

.tituloGrupoA {
    color: rgb(0, 0, 0);
}

.imgRoyal {
    max-width: 25px;
    max-height: 25px;
    text-align: left;
}

.imgPgg {
    max-height: 25px;
    max-width: 25px;
}

.imgUol{
    max-width: 25px;
    max-height: 25px;
}

.pontosA{
    font-size: 15px;
    width: 100%;
    text-align: right;
}

.timesA{
   font-size: 15px;
}

.numeroTimes {
    font-size: 20px;
}