*{
    margin: 0 auto;
}

a, a:link, a:hover, a:visited{
    text-decoration: none;
}

body{
    background-color: #272727;
    width: 90vw;
}

.cabecalho{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #898366;
}

.listaMenu{
    display: flex;
    flex: initial;
    list-style: none;
    padding: 30px 10px 30px 10px;

}

.listaMenu li{
    padding-top: 20px;
}

.listaMenu ul{
    margin: 0px;
    text-align: 0px;
}

.imgCabecalho{
    margin: 0 auto;
    display: block;
    padding-left: 35px;

}

.menu li a{
    color:#898366;
}

.menu ul li a:hover{
    color: #fff;
}

